* {
	font-family: "Verdana";
}

#header {
    border-bottom: 1px solid darkblue;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: white;
    height: 75px;
    margin-left: 1em;
    margin-right: 1em;
}

body {
    margin-top: 75px;
    padding: 1em;
}

h1 {
	margin: 0px;
	padding: 0.2em;
}

h1 a:link {
	text-decoration: none;
	color: inherit;
}

h1 a:visited {
	color: inherit;	
}

h1 img {
	height: 2em;
	width: auto;
	vertical-align: middle;
}

h1 span {
	margin-left: 0.5em;
}

#greeting {
	float: right;
	margin: 0.5em 1em;
}

#content {
    margin: 1em;
}

#message {
    background: yellow;
    padding: 1em;
    border: 1px solid black;
}

#sidebar {
    width: 15em;
    position: fixed;
    right: 0px;
    top: 75px;
    bottom: 0px;
    border-left: 1px solid darkblue;
    margin-top: 1em;
    margin-bottom: 1em;
}

.logoutForm, .logoutForm input {
    display: inline;
}

.searchform {
    display: block;
    float: right;
    clear: both;
}

.searchform input, .searchform label {
    display: inline;
}

#sidebar ~ #content {
    margin-right: 16em;
}

#help {
    background: #E0E3FF; 
    border: 1px solid black;
    margin: 1em;
    padding: 0 1em;
    border-radius: 0.8em;
    bottom: 1em;
    position: absolute;
}

#navigation {
    margin: 1em;
    margin-top: -1em;
}


#navigation ul {
    padding: 0px;
    padding-left: 1.5em;
    margin: 0px;
}

#photos {
    list-style-type: none;
}

#photos li {
    display: inline-block;
}

.thumbnailImage {
    max-width: 250px;
    max-height: 250px;
    margin: 1em;
}

form>* {
	display: block;
}

form label {
	margin: 0.5em 0px;
}

.profile_submit {
	right: 0px;
        margin-top: 2em;
	margin-left: auto;
}

#forgotPassword {
    margin: 1em 0px;
}

.profilePicture {
    float: left;
    width: 200px;
    height: 250px;
    margin-right: 2em;
    margin-bottom: 2em;
}

.profilePicture img {
    max-width: 200px;
    max-height: 250px;    
}

span.imageTitle {
    display: block;
}

.labelTable + * {
    clear: both;
}

.labelTable td:first-child {
    font-weight: bold;
    padding-right: 4em;
}

.profile_input {
    width: 25em;
}

.profile_textarea {
    width: 100%;
    height: 7em;
}

.upload_submit {
    margin-top: 2em;
    width: 10em;
    height: 2em;
    font-weight: bold;
}

.upload_input {
    width: 25em;
}

.validationError {
    font-size: 0.8em;
    color: red;
    margin-left: 1.5em;
}

.image_image {
    float: left;
    width: 650px;
    height: auto;
    max-height: 500px;
    margin-right: 2em;
    margin-bottom: 2em;
}

.image_commentForm {
    position: relative;
}

.image_imageArea + * {
    clear: both;
}

.image_metadata {
    margin-bottom: 1.5em;
}

.image_commentField {
    margin-left: 20px;
    resize:none;
}

.image_submitComment {
    margin-left: 2em;
    margin-top: 1em;
}

.image_metadataHeading {
    font-style:italic;
    font-weight:bold;
    font-size:1.3em;
    margin: 0.25em;
}

.image_comment_user {
    float: left;
    margin-right: 1.5em;
    width: 10em;
}

.image_comment_user span {
    font-size: 0.8em;
}

.image_comments {
    list-style-type: none;
    margin-top: 3em;
    padding: 0px;
}

.image_comments li {
    clear: both;
    margin-bottom: 2.5em;
    position: relative;
}

.image_comment_delete {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

.image_comment {
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    margin-left: 12em;
    padding-right: 5em;
}

.image_comment_user img {
    vertical-align: middle;
    float: left;
    margin-right: 1em;
}

.hidden {
    display: none;
}

#register {
    margin-top: 1em;
}

.fullscreen_controls {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
}

body.fullscreen_body {
    padding: 0px;
    margin: 0px;
    background: black;
    color: white;
    
    position: fixed;
    left: 0px;
    bottom: 50px;
    right: 0px;
    top: 0px;
}

.image_comment_user img {
    max-width: 50px;
    max-height: 50px;
}

.fullscreen_image {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0.5em;
}

.fullscreen_image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.fullscreen_controls a {
    font-weight: bold;
    font-size: 1.5em;
    vertical-align: bottom;
    display: block;
    position: absolute;
    bottom: 0.1em;
}

.fullscreen_controls .previousLink {
    left: 1em;
}

.fullscreen_controls .nextLink {
    right: 1em;
}
.fullscreen_controls .exitLink {
    left: 50%;
    margin-left: -2em;
}
.fullscreen_controls a:link {
    color: white;
}
.fullscreen_controls a:visited {
    color: white;
}